<!-- navbar -->
<app-navbar></app-navbar>

<main class="container">
    <section>
      <div class="mt-5 pt-5">
        <div class="d-flex justify-content-center align-items-center pb-5">
          <h1>{{title}}</h1>
        </div>
        <div class="container row d-flex justify-content-center align-items-center">
          <div class="col">
            <div class="card shadow rounded-4">
              <div class="calendare p-2 bg-primary bg-gradient rounded-4">
                <span><i class="fa-solid fa-calendar-check"></i></span>
                <p class="fs-4 pt-4">R$: {{valores.toFixed(2)}}</p>
                <p class="fs-5">Dispesas atual este mês</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow rounded-4">
              <div class="calendare p-2 bg-warning bg-gradient rounded-4">
                <span><i class="fa-regular fa-calendar-days pe-3"></i></span>
                <p class="fs-4 pt-4">R$: {{dispDia.toFixed(2)}}</p>
                <p class="fs-5">Dispesas do dia</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow rounded-4">
              <div class="calendare shadow-lg p-2 bg-primary bg-gradient rounded-4">
                <span><i class="fa-solid fa-hand-holding-dollar pe-3"></i></span>
                <p class="fs-4 pt-4">R$: 0</p>
                <p class="fs-5">Despesa Totais</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow rounded-4">
              <div class="calendare shadow-lg p-2 bg-warning bg-gradient rounded-4">
                <span><i class="fa-solid fa-hand-holding-dollar pe-3"></i></span>
                <p class="fs-4 pt-4">R$: 0</p>
                <p class="fs-5">Despesa Saldo Total</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <hr class="border border-danger border-5 opacity-75 rounded-4">
        <div class="row">
          <div class="col">
            <div class="border border-primary border-2">
              <p class="bg-primary text-white fs-5 p-2">Ultima 10 rendas</p>
              <div class="table">
                <table class="table table-bordered">
                  <thead>
                    <tr class="light">
                      <th scope="col">Id</th>
                      <th scope="col">Título</th>
                      <th scope="col">Data</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="1">Larry the Bird</td>
                      <td>twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="col">
              <div class="border border-warning border-2">
                <p class="bg-warning text-white fs-5 p-2">Ultima 10 rendas</p>
                <div class="table">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="table-primary">
                        <th scope="col">Id</th>
                        <th scope="col">Título</th>
                        <th scope="col">Data</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="1">Larry the Bird</td>
                        <td>twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>